<div class="row">

    <div class="col-md-12">

        <div class="x_panel">

            <div class="x_content">

                <form
                    method="POST"
                    action="{% url 'alumnos' %}"
                    class="form-inline"
                >

                    {% csrf_token %}

                    <div class="form-group">

                        <select
                            name="id_curso"
                            class="form-control"
                            required
                        >

                            <option value="">
                                Seleccione curso
                            </option>

                            {% for curso in cursos %}

                                <option
                                    value="{{ curso.id }}"

                                    {% if curso_id == curso.id %}
                                        selected
                                    {% endif %}
                                >
                                    {{ curso.codigo_curso }}
                                    -
                                    {{ curso.nombre }}
                                </option>

                            {% endfor %}

                        </select>

                    </div>

                    <button
                        type="submit"
                        class="btn btn-primary"
                    >
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>

                </form>


                {% if curso_id %}

                    <hr>

                    <strong>
                        Total aspirantes:
                        {{ total }}
                    </strong>

                    <div
                        class="pull-right"
                    >

                        <form
                            method="POST"
                            action="{% url 'alumnos_exportar' curso_id %}"
                            style="display:inline;"
                        >

                            {% csrf_token %}

                            <button
                                class="btn btn-success"
                            >
                                <i class="fa fa-file-excel-o"></i>
                                Descargar todos
                            </button>

                        </form>


                        <form
                            method="POST"
                            action="{% url 'alumnos_exportar_pagados' curso_id %}"
                            style="display:inline;"
                        >

                            {% csrf_token %}

                            <button
                                class="btn btn-info"
                            >
                                <i class="fa fa-download"></i>
                                Descargar pagados Moodle
                            </button>

                        </form>

                    </div>

                {% endif %}

            </div>

        </div>

    </div>

</div>