
<script>

$(document).ready(function () {


    function paginaActual() {

        if (
            $.fn.DataTable.isDataTable(
                "#datatable-buttons"
            )
        ) {

            return $(
                "#datatable-buttons"
            )
            .DataTable()
            .page();
        }

        return 0;
    }


    // ========================================
    // MODIFICAR
    // ========================================

    $(document).on(
        "click",
        ".btn-modificar-alumno",
        function () {

            let b = $(this);

            $("#modificar_curso_id").val(
                b.data("curso")
            );

            $("#modificar_pagina").val(
                paginaActual()
            );

            $("#modificar_nombre").val(
                b.data("nombre")
            );

            $("#modificar_apellido").val(
                b.data("apellido")
            );

            $("#modificar_email").val(
                b.data("email")
            );

            $("#modificar_telefono").val(
                b.data("telefono")
            );

            $("#modificar_estado").val(
                b.data("estado")
            );

            $("#formModificarAlumno").attr(
                "action",
                "/alumnos/"
                + b.data("id")
                + "/actualizar"
            );

            $("#modalModificarAlumno").modal(
                "show"
            );
        }
    );


    // ========================================
    // PAGO
    // ========================================

    $(document).on(
        "click",
        ".btn-pago-alumno",
        function () {

            let b = $(this);

            $("#pago_curso_id").val(
                b.data("curso")
            );

            $("#pago_pagina").val(
                paginaActual()
            );

            $("#pago_nombre").text(
                b.data("nombre")
            );

            $("#formPagoAlumno").attr(
                "action",
                "/alumnos/"
                + b.data("id")
                + "/pago"
            );

            $("#modalPagoAlumno").modal(
                "show"
            );
        }
    );


    // ========================================
    // ACEPTACIÓN
    // ========================================

    $(document).on(
        "click",
        ".btn-aceptacion-alumno",
        function () {

            let b = $(this);

            $("#aceptacion_curso_id").val(
                b.data("curso")
            );

            $("#aceptacion_pagina").val(
                paginaActual()
            );

            $("#aceptacion_nombre").text(
                b.data("nombre")
            );

            $("#formAceptacionAlumno").attr(
                "action",
                "/alumnos/"
                + b.data("id")
                + "/correo-aceptacion"
            );

            $("#modalAceptacionAlumno").modal(
                "show"
            );
        }
    );


    // ========================================
    // CORREO PAGO
    // ========================================

    $(document).on(
        "click",
        ".btn-correo-pago",
        function () {

            let b = $(this);

            $("#correo_pago_curso_id").val(
                b.data("curso")
            );

            $("#correo_pago_pagina").val(
                paginaActual()
            );

            $("#correo_pago_nombre").text(
                b.data("nombre")
            );

            $("#formCorreoPago").attr(
                "action",
                "/alumnos/"
                + b.data("id")
                + "/correo-pago"
            );

            $("#modalCorreoPago").modal(
                "show"
            );
        }
    );


    // ========================================
    // BIENVENIDA
    // ========================================

    $(document).on(
        "click",
        ".btn-bienvenida-especial",
        function () {

            let b = $(this);

            let codigo = (
                b.data("codigo")
                || ""
            );

            let tipo = "";

            if (
                codigo.indexOf("IEMCE") !== -1
            ) {
                tipo = "IEMCE";
            }
            else if (
                codigo.indexOf("AAMCE") !== -1
            ) {
                tipo = "AAMCE";
            }
            else if (
                codigo.indexOf("CBC") !== -1
            ) {
                tipo = "CBC";
            }
            else if (
                codigo.indexOf("AAC") !== -1
            ) {
                tipo = "AAC";
            }

            $("#bienvenida_tipo").val(
                tipo
            );

            $("#bienvenida_tipo_texto").text(
                tipo
            );

            $("#bienvenida_nombre").text(
                b.data("nombre")
            );
            
            $("#bienvenida_curso_id").val(
                b.data("curso")
            );
            $("#bienvenida_curso_id").val(
                b.data("curso")
            );

            $("#bienvenida_pagina").val(
                paginaActual()
            );

            $("#formBienvenidaEspecial").attr(
                "action",
                "/alumnos/"
                + b.data("id")
                + "/correo-bienvenida"
            );

            $("#modalBienvenidaEspecial").modal(
                "show"
            );
        }
    );

    // ============================================
    // VER PAGOS
    // ============================================

    $(document).on(
        "click",
        ".btn-ver-pagos-alumno",
        function () {

            const boton = $(this);

            const alumnoId =
                boton.data("id");

            const cursoId =
                boton.data("curso");

            const pagina =
                paginaActual();


            window.location.href =
                "/alumnos/"
                + alumnoId
                + "/curso/"
                + cursoId
                + "/pagos"
                + "?pagina="
                + pagina;

        }
    );
// ============================================
// SELECCION MASIVA
// ============================================

function seleccionadosActuales() {

    let seleccionados = [];

    $(".seleccionar-aspirante:checked")
        .each(function () {

            let checkbox = $(this);

            seleccionados.push({

                id:
                    checkbox.data("id"),

                nombre:
                    checkbox.data("nombre"),

                apellido:
                    checkbox.data("apellido"),

                email:
                    checkbox.data("email"),

                curso:
                    checkbox.data("curso"),

                codigo:
                    checkbox.data("codigo")
            });

        });


    return seleccionados;
}


function actualizarBarraMasiva() {

    let seleccionados =
        seleccionadosActuales();


    $("#cantidad_seleccionados").text(
        seleccionados.length
    );


    if (seleccionados.length >= 2) {

        $("#barra_seleccion_masiva").show();

    } else {

        $("#barra_seleccion_masiva").hide();

    }


    let totalPagina =
        $("#datatable-buttons")
            .DataTable()
            .rows({
                page: "current"
            })
            .nodes()
            .to$()
            .find(
                ".seleccionar-aspirante"
            )
            .length;


    let marcadosPagina =
        $("#datatable-buttons")
            .DataTable()
            .rows({
                page: "current"
            })
            .nodes()
            .to$()
            .find(
                ".seleccionar-aspirante:checked"
            )
            .length;


    $("#seleccionar_todos_pagina")
        .prop(
            "checked",
            (
                totalPagina > 0
                && totalPagina === marcadosPagina
            )
        );
}


// CHECK INDIVIDUAL

$(document).on(
    "change",
    ".seleccionar-aspirante",
    function () {

        actualizarBarraMasiva();

    }
);


// CHECK TODOS SOLO PAGINA ACTUAL

$(document).on(
    "change",
    "#seleccionar_todos_pagina",
    function () {

        let marcado =
            $(this).is(":checked");


        let tabla =
            $("#datatable-buttons")
                .DataTable();


        $(tabla.rows({
            page: "current"
        }).nodes())
            .find(
                ".seleccionar-aspirante"
            )
            .prop(
                "checked",
                marcado
            );


        actualizarBarraMasiva();

    }
);


// ============================================
// LIMPIAR AL CAMBIAR PAGINA
// ============================================

$("#datatable-buttons").on(
    "page.dt length.dt",
    function () {

        $(".seleccionar-aspirante")
            .prop(
                "checked",
                false
            );

        $("#seleccionar_todos_pagina")
            .prop(
                "checked",
                false
            );

        $("#barra_seleccion_masiva")
            .hide();

    }
);


// ============================================
// PREPARAR MODAL
// ============================================

function prepararModalMasivo(
    contenedorIds,
    contenedorDetalle
) {

    let seleccionados =
        seleccionadosActuales();


    $(contenedorIds).empty();

    $(contenedorDetalle).empty();


    $(".cantidad_masiva").text(
        seleccionados.length
    );


    seleccionados.forEach(
        function (item) {

            $("<input>", {

                type:
                    "hidden",

                name:
                    "alumno_ids",

                value:
                    item.id

            }).appendTo(
                contenedorIds
            );


            let fila =
                $("<tr>");


            $("<td>")
                .text(item.id)
                .appendTo(fila);


            $("<td>")
                .text(
                    item.nombre
                    + " "
                    + item.apellido
                )
                .appendTo(fila);


            $("<td>")
                .text(item.email)
                .appendTo(fila);


            $("<td>")
                .text(item.codigo)
                .appendTo(fila);


            $(contenedorDetalle)
                .append(fila);

        }
    );


    $(".pagina_masiva").val(
        paginaActual()
    );
}


// ============================================
// ACEPTACION MASIVA
// ============================================

$(document).on(
    "click",
    "#btn_aceptacion_masiva",
    function () {

        prepararModalMasivo(
            "#idsAceptacionMasiva",
            "#detalleAceptacionMasiva"
        );


        $("#modalAceptacionMasiva")
            .modal("show");

    }
);


// ============================================
// BIENVENIDA MASIVA
// ============================================

$(document).on(
    "click",
    "#btn_bienvenida_masiva",
    function () {

        prepararModalMasivo(
            "#idsBienvenidaMasiva",
            "#detalleBienvenidaMasiva"
        );


        $("#modalBienvenidaMasiva")
            .modal("show");

    }
);
});


// ============================================
// RESTAURAR PÁGINA DATATABLE
// ============================================

$(window).on(
    "load",
    function () {

        const params =
            new URLSearchParams(
                window.location.search
            );

        const pagina =
            params.get("pagina");

        if (
            pagina !== null &&
            $.fn.DataTable.isDataTable(
                "#datatable-buttons"
            )
        ) {

            const tabla =
                $("#datatable-buttons")
                .DataTable();

            tabla
                .page(
                    parseInt(pagina)
                )
                .draw("page");
        }
    }
);

$(document).on(
    "change",
    "#pago_medio_pago",
    function () {

        const medio = $(this).val();

        $("#datos_transferencia").hide();
        $("#datos_flow").hide();

        if (medio === "Transferencia") {

            $("#datos_transferencia").show();

        }

        if (medio === "Flow") {

            $("#datos_flow").show();

        }

    }
);

$("#pago_medio_pago")
    .val("")
    .trigger("change");

</script>
