{% extends "administracion/base_site.html" %}

{% block title %} {% endblock title %}

{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}

{% block content %}





<div class="right_col role="main">


  <div class="row" >
    <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-shopping-cart"></i></div>
        <div class="count" id="ventas_anuales_count" >4000</div>
        <h3>Ventas</h3>
        <p>Canridad de ventas anuales.</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats"> 
        <div class="count" id="ventas_anuales_sum" >$79.000.000</div>
        <h3>Ventas</h3>
        <p>Cantidad ventas anuales en pesos.</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-cubes"></i></div>
        <div class="count" id="productos_anuales" >224</div>
        <h3>Productos</h3>
        <p>Cantidad de productos anuales vendidos.</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-star"></i></div>
        <div class="count" id="producto_cantidad_top_anual" >800</div>
        <h3 id="product_top_anual" >Nombre del producto</h3>
        <p>Producto mas vendido anual o con mayor rotacion.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="row x_title">
      <div class="col-md-6">
        <h3>Pedidos con mayor valor total del último mes<small> </small></h3>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 bg-white">
    <canvas id="grafico_1" class="demo-placeholder"></canvas>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 bg-white">
    <canvas id="grafico_2" class="demo-placeholder"></canvas>
  </div>
  <div class="row">
    <div class="row x_title">
      <div class="col-md-6">
        <h3>Salidas de productos<small> </small></h3>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12 bg-white mt-6">
    <canvas id="grafico_3" class="demo-placeholder" width="500" height="500"></canvas>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12 bg-white">
    <canvas id="grafico_4" class="demo-placeholder" width="500" height="500"></canvas>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12 bg-white">
    <canvas id="grafico_5" class="demo-placeholder" width="500" height="500"></canvas>
  </div>
  <div class="row">
    <div class="row x_title">
      <div class="col-md-6">
        <h3>Proveedores y pedidos<small> </small></h3>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 bg-white">
    <canvas id="grafico_6" class="demo-placeholder"></canvas>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 bg-white">
    <canvas id="grafico_7" class="demo-placeholder"></canvas>
  </div>
  <div class="row">
    <div class="row x_title">
    </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>

  <script>
    let canvas1 = document.getElementById("grafico_1").getContext("2d");
    let canvas2 = document.getElementById("grafico_2").getContext("2d");
    let canvas3 = document.getElementById("grafico_3").getContext("2d");
    let canvas4 = document.getElementById("grafico_4").getContext("2d");
    let canvas5 = document.getElementById("grafico_5").getContext("2d");
    let canvas6 = document.getElementById("grafico_6").getContext("2d");
    let canvas7 = document.getElementById("grafico_7").getContext("2d");

    //Capturar datos del context
    let id_pedido = JSON.parse('{{ id_pedido|escapejs }}');
    let cantidad = JSON.parse('{{ cantidad|escapejs }}');
    let precio_total = JSON.parse('{{ precio_total|escapejs }}');
    let fecha_recepcion = JSON.parse('{{ fecha_recepcion|escapejs }}');
    let tipo_salida = JSON.parse('{{ tipo_salida|escapejs }}');
    let cantidad_salida = JSON.parse('{{ cantidad_salida|escapejs }}');
    let id_producto = JSON.parse('{{ id_producto|escapejs }}');
    let numero_productos = JSON.parse('{{ numero_productos|escapejs }}');
    let nombre_producto = JSON.parse('{{ nombre_producto|escapejs }}');
    let valor_venta = JSON.parse('{{ valor_venta|escapejs }}');
    let id_producto_3mes = JSON.parse('{{ id_producto_3mes|escapejs }}');
    let numero_productos_3mes = JSON.parse('{{ numero_productos_3mes|escapejs }}');
    let nombre_producto_3mes = JSON.parse('{{ nombre_producto_3mes|escapejs }}');
    let valor_venta_3mes = JSON.parse('{{ valor_venta_3mes|escapejs }}');
    let numero_pedidos = JSON.parse('{{ numero_pedidos|escapejs }}');
    let id_proveedor = JSON.parse('{{ id_proveedor|escapejs }}');
    let nombre_proveedor = JSON.parse('{{ nombre_proveedor|escapejs }}');
    let total_pedidos = JSON.parse('{{ total_pedidos|escapejs }}');
    let id_proveedor2 = JSON.parse('{{ id_proveedor2|escapejs }}');
    let nombre_proveedor2 = JSON.parse('{{ nombre_proveedor2|escapejs }}');
    let top_metricas = JSON.parse('{{ top_metricas|escapejs }}');

    $('#ventas_anuales_count').text(top_metricas[0]);
    $('#productos_anuales').text(top_metricas[1]); 
    $('#ventas_anuales_sum').text(
        '$' + Number(top_metricas[2]).toLocaleString('es-CL')
    ); 
    $('#producto_cantidad_top_anual').text(top_metricas[3][0]);
    $('#product_top_anual').text(top_metricas[3][1]);

    
    //arreglos de colores para pie charts
    colores_chart3 = ["#ea5545", "#f46a9b", "#ef9b20", "#edbf33", "#ede15b", "#bdcf32", "#87bc45", "#27aeef", "#b33dc6", '#5E40BE'];
    colores_chart4 = ["#e60049", "#0bb4ff", "#50e991", "#e6d800", "#9b19f5", "#ffa300", "#dc0ab4", "#b3d4ff", "#00bfa0", "#1a53ff"];
    colores_chart5 = ["#b30000", "#7c1158", "#4421af", "#1a53ff", "#0d88e6", "#00b7c7", "#5ad45a", "#8be04e", '#e6d800',"#ebdc78"];

    let chart1 = new Chart(canvas1, {
    type: "bar",
    data: {
        labels: fecha_recepcion,
        datasets: [
            {
              label: "Valor total pedido",
              backgroundColor: "#48b5c4",
              borderColor: '#48b5c4',
              borderWidth: 0.1,
              data: precio_total
            }
        ]
    },
    options: {
        responsive: true,
        tooltips: {
          callbacks: {
            title: function(tooltipItem,data) {
              return 'Fecha: '+data['labels'][tooltipItem[0]['index']];
            },
            label: function(tooltipItem, data) {
              return 'Valor total: $'+data['datasets'][0]['data'][tooltipItem['index']];
            },
            afterLabel: function(tooltipItem, data) {
              return 'Id pedido: '+ id_pedido[tooltipItem['index']];
            }
          }
        },
        scales: {
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'pesos ($)'
            }
          }],
          xAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Id pedido'
            }
          }]
          
        },
        title: {
            text: "Valor total por fecha",
            display: true
        }
        
    }
    });

    let chart2 = new Chart(canvas2, {
    type: "bar",
    data: {
        labels: fecha_recepcion,
        datasets: [
            {
              label: "Cantidad productos pedido",
              backgroundColor: "#76c68f",
              borderColor: "#76c68f",
              borderWidth: 0.1,
              data: cantidad,
            }
        ]
    },
    options: {
        responsive: true,
        tooltips: {
          callbacks: {
            title: function(tooltipItem,data) {
              return 'Fecha: '+data['labels'][tooltipItem[0]['index']];
            },
            label: function(tooltipItem, data) {
              return 'Cantidad productos: '+data['datasets'][0]['data'][tooltipItem['index']];
            },
            afterLabel: function(tooltipItem, data) {
              return 'Id pedido: '+ id_pedido[tooltipItem['index']];
            }
          }
        },
        scales: {
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Cantidad pedidos'
            }
          }],
          xAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Fecha entrega pedido'
            }
          }]
        },
        title: {
            text: "Cantidad productos total por fecha",
            display: true
        }
    }
    });

    
    let chart3 = new Chart(canvas3, {
    type: "pie",
    data: {
        labels: tipo_salida,
        datasets: [
            {
              label: "Valor total pedido",
              backgroundColor: colores_chart3,
              borderWidth: 0.1,
              data: cantidad_salida,
            }
        ]
    },
    options: {
        responsive: true,
        title: {
            text: "Tipos de salida",
            display: true
        },
        legend: {
          labels: {
            boxWidth: 20,
          }
        }
    }
    });


    let chart4 = new Chart(canvas4, {
    type: "pie",
    data: {
        labels: nombre_producto,
        datasets: [
            {
              label: "Valor total pedido",
              backgroundColor: colores_chart4,
              borderWidth: 0.1,
              data: numero_productos,
            }
        ]
    },
    options: {
        responsive: true,
        title: {
            text: "Productos más vendidos último mes",
            display: true
        },
        legend: {
          labels: {
            boxWidth: 20,
          }
        },
        tooltips: {
          callbacks: {
            title: function(tooltipItem,data) {
              return 'Producto: '+data['labels'][tooltipItem[0]['index']];
            },
            label: function(tooltipItem, data) {
              return 'Cantidad vendida: '+data['datasets'][0]['data'][tooltipItem['index']];
            },
            afterLabel: function(tooltipItem, data) {
              texto = 'Id producto: '+id_producto[tooltipItem['index']];
              return texto;
            },
            footer: function(tooltipItem, data) {
              texto = 'Total ventas: $'+ valor_venta[tooltipItem[0]['index']];
              return texto;
            }
          }
        }
    }
    });

    let chart5 = new Chart(canvas5, {
    type: "pie",
    data: {
        labels: nombre_producto_3mes,
        datasets: [
            {
              label: "Valor total pedido",
              backgroundColor: colores_chart5,
              borderWidth: 0.1,
              data: numero_productos_3mes,
            }
        ]
    },
    options: {
        responsive: true,
        title: {
            text: "Productos más vendidos últimos tres meses",
            display: true
        },
        legend: {
          labels: {
            boxWidth: 20,
          }
        },
        tooltips: {
          callbacks: {
            title: function(tooltipItem,data) {
              return 'Producto: '+data['labels'][tooltipItem[0]['index']];
            },
            label: function(tooltipItem, data) {
              return 'Cantidad vendida: '+data['datasets'][0]['data'][tooltipItem['index']];
            },
            afterLabel: function(tooltipItem, data) {
              texto = 'Id producto: '+id_producto[tooltipItem['index']];
              return texto;
            },
            footer: function(tooltipItem, data) {
              texto = 'Total ventas: $'+ valor_venta[tooltipItem[0]['index']];
              return texto;
            }
          }
        },
    }
    });

    let chart6 = new Chart(canvas6, {
    type: "bar",
    data: {
        labels: nombre_proveedor,
        datasets: [
            {
              label: "Número pedidos total",
              backgroundColor: "#876FD4",
              borderColor: '#876FD4',
              borderWidth: 0.1,
              data: numero_pedidos
            }
        ]
    },
    options: {
        responsive: true,
        scales: {
          yAxes: [{
            ticks: {
                beginAtZero: true // Ensure y-axis starts at 0
            },
            scaleLabel: {
              display: true,
              labelString: 'Número pedidos'
            }
          }],
          xAxes: [{
            display: false
          }]
          
        },
        tooltips: {
          callbacks: {
            title: function(tooltipItem,data) {
              return data['labels'][tooltipItem[0]['index']];
            },
            label: function(tooltipItem, data) {
              return 'Total pedidos: '+data['datasets'][0]['data'][tooltipItem['index']];
            },
            afterLabel: function(tooltipItem, data) {
              return 'Id proveedor: '+ id_proveedor[tooltipItem['index']];
            }
          }
        },
        title: {
            text: "Proveedores con mayor cantidad de pedidos último año",
            display: true
        }
    }
    });
    
    let chart7 = new Chart(canvas7, {
    type: "bar",
    data: {
        labels: nombre_proveedor2,
        datasets: [
            {
              label: "Valor pedidos total ($)",
              backgroundColor: "#5E40BE",
              borderColor: '#5E40BE',
              borderWidth: 0.1,
              data: total_pedidos
            }
        ]
    },
    options: {
        responsive: true,
        scales: {
          yAxes: [{
            ticks: {
                beginAtZero: true // Ensure y-axis starts at 0
            },
            scaleLabel: {
              display: true,
              labelString: 'Total pedidos ($)'
            }
          }],
          xAxes: [{
            display: false
          }]
          
        },
        tooltips: {
          callbacks: {
            title: function(tooltipItem,data) {
              return data['labels'][tooltipItem[0]['index']];
            },
            label: function(tooltipItem, data) {
              return 'Valor total: $'+data['datasets'][0]['data'][tooltipItem['index']];
            },
            afterLabel: function(tooltipItem, data) {
              return 'Id proveedor: '+ id_proveedor2[tooltipItem['index']];
            }
          }
        },
        title: {
            text: "Proveedores con pedidos de mayor valor del último año",
            display: true
        }
    }
    });
    
  </script>
{% endblock javascripts %}
