{% extends "administracion/base_site.html" %}

{% block title %} {% endblock title %}

{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}

{% block content %}

{% include "administracion/generic_table.html" with title="Mis Pedidos" actions_bar="administracion/actions_bar/lista_pedidos.html" %}



{% endblock content %}

{% block javascripts %}
{{ block.super }}

<script>
   
    $.contextMenu({
        selector: '#datatable-buttons tbody tr',
        callback: function (key, options) { 
            let producto = get_row(this); 
            switch (key) { 
                case "ver":  
                    let pedido = get_row(this); 
                    abrirModalPedido(pedido)
                    break;
                default:
                    console.log("Lo lamentamos, por el momento no disponemos de esa opción.");
            } 
        },
        items: {  
            "ver": { name: "Ver detalles", icon: "fas fa-eye" }
        }
    });

    $('#datatable-buttons tbody').on('dblclick', 'tr', function () {
        let pedido = get_row(this); 
        abrirModalPedido(pedido)
    });
 

    // Función para abrir el modal y cargar datos del pedido
    function abrirModalPedido(pedido) {
        const url = `/get_productos_by_pedido_json/${pedido.id}`;

        $.getJSON(url, function(data) {
             
            $("#id").text(pedido.id);
            $("#proveedor").text(pedido.proveedor);
            $("#fecha_recepcion").text(pedido.fecha_recepcion);
            $("#total_pedido").text(pedido.total_pedido);

            // Limpiar la tabla antes de llenarla
            const $tbody = $("#table_productos_pedidos tbody");
            $tbody.empty();

            // Rellenar la tabla con los productos
            $.each(data, function(index, producto) {
                const row = `
                    <tr>
                        <td>${producto.codigo_barra}</td>
                        <td>${producto.nombre_producto}</td>
                        <td>${producto.cantidad}</td>
                        <td>${producto.precio_producto}</td>
                        <td>${producto.precio_total}</td>
                        <td>${producto.precio_actual_venta}</td>
                    </tr>
                `;
                $tbody.append(row);
            });

            // Mostrar el modal
            $("#modalPedido").modal("show");
        }).fail(function() {
            console.error("Error al obtener datos del pedido");
        });
    }
        
</script>

{% endblock javascripts %}