{% extends "administracion/base_site.html" %}

{% block title %} {% endblock title %}

{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}

{% block content %}
{% include "administracion/salida/salida_principal.html" with title="Salida del administracion" actions_bar="administracion/actions_bar/salida.html" tipo_salida=tipo_salida  %}

{% endblock content %}


{% block javascripts %}
{{ block.super }}


<script>
    'use strict';
    (function (window) {
        //usa esta estructura para manejar de manera mas efectiva el dom ya que es compleja la interaccion
        var _self;
        var carrito = {
            vars: { 
                detalleProductoURL: '/detalle_producto_json', 
                sendSalidaInventarioURL: '/send_salida_inventario_json',
                resultados:[],
                tipo_salida: 'Venta'
            },
            init: function () {
                _self = this; 
                _self.cargar_productos = $('#cargar_productos');
                _self.buscar_producto = $('#buscar_producto');
                _self.tabla_carrito = $('#tabla_carrito'); 
                _self.row_template_solicitudes = $('#row_template_solicitudes').html();  
                _self.setEvents();
                _self.actions.loadProducts(); 
            },
            setEvents: function () { 
                _self.cargar_productos.on('click', _self.actions.searchProduct);
                _self.buscar_producto.on('input', _self.helper.busquedaAutomatica);

                _self.buscar_producto.keydown(function(event){
                    if(event.key === 'Enter'){
                        _self.cargar_productos.click();
                        _self.buscar_producto.val('');
                    }
                }); 
            },
            actions: {  
                loadProducts: function () {
                    $.ajax({
                        url: _self.vars.detalleProductoURL,
                        method: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            const productos = data.map(producto => ({
                                ...producto,
                                cantidad_comprar: 0,
                                carrito_productos: false
                            }));
 
                            const resultado = {
                                productos: productos, 
                                total_venta: 0
                            };

                            _self.vars.resultados = resultado;
                            
                            _self.helper.hydrate_datalist();
  
                        },
                        error: function (xhr, status, error) {
                            console.error("Error al cargar los productos: ", error);
                        }
                    });
                }, 
                searchProduct: function () {
                    let buscar = $("#buscar_producto").val().toLowerCase();

                    // Buscar por código de barra con coincidencia exacta
                    let producto = _self.vars.resultados.productos.find(prod =>
                        prod.codigo_barra.toLowerCase() === buscar
                    );

                    // Si no encuentra por código de barra, buscar por nombre con coincidencia parcial
                    if (!producto) {
                        producto = _self.vars.resultados.productos.find(prod =>
                            prod.nombre_producto.toLowerCase().includes(buscar)
                        );
                    }

                    // Si encuentra un producto, modificar sus datos
                    if (producto) {
                        if(producto.cantidad_comprar  < producto.stock_actual){
                            producto.carrito_productos = true;
                            producto.cantidad_comprar += 1;

                            // Llamar a cargarCarrito para actualizar la vista
                            _self.helper.cargarCarrito();
                            _self.helper.llenarTabla();
                            _self.helper.calcularTotalVenta();
                            _self.helper.mensaje();
                        }else{
                            _self.helper.mensaje('No existe suficiente stock disponible para el producto.');
                        }
                    } else {
                        _self.helper.mensaje('No se encontró ningún producto con ese criterio.');
                    }
                }, 
                update_carrito:(id_producto)=>{ 
                    const nueva_cantidad_comprar = $('#ROW' + id_producto).val();

                    const producto = _self.vars.resultados.productos.find(prod => prod.id === id_producto);
 
                    if (producto) {
                        if(nueva_cantidad_comprar <= producto.stock_actual){
                            producto.cantidad_comprar = nueva_cantidad_comprar; 
                            _self.helper.cargarCarrito();
                            _self.helper.llenarTabla();
                            _self.helper.calcularTotalVenta(); 
                            _self.helper.mensaje();
                        }else{
                            $('#ROW' + id_producto).val(producto.stock_actual); 
                            _self.helper.mensaje('No existe sufuciente stock disponible para el producto');
                        }
                    }  
                },
                delete_carrito: function (id_producto) { 
                    const producto = _self.vars.resultados.productos.find(prod => prod.id === id_producto); 
                    if (producto) {
                        producto.carrito_productos = false;
                        producto.cantidad_comprar = 0;    
                        _self.helper.cargarCarrito();
                        _self.helper.llenarTabla();
                        _self.helper.calcularTotalVenta(); 
                    } 
                },
                send_pedido: () => {
                    $('#mensaje_pantalla').hide()

                    const productos_carrito = _self.vars.resultados.productos.filter((r) => r.carrito_productos)

                    if (productos_carrito.length === 0) {
                        _self.helper.mensaje("No se han agregado productos a la salida de administracion.")
                        return
                    }

                    const data = {
                        productos_carrito,
                        tipo_salida: carrito.vars.tipo_salida
                    }
                    
                    $.ajax({
                        url: _self.vars.sendSalidaInventarioURL,
                        method: "POST",
                        data: JSON.stringify(data),
                        dataType: "json",
                        success: (data) => {
                            _self.helper.mensaje(data['success'], 'alert-success')
                            setTimeout(function() {
                                window.location.reload();
                            }, 1000);  // 1000 milisegundos = 1 segundo
                        },
                        error: function (xhr, status, error) {
                            console.log("Error al enviar salida de administracion.", error);
                        }
                    })

                }
            },
            helper: {
                replaceTemplate: function (template, params) {
                    for (var k in params) {
                        if (params.hasOwnProperty(k) && params[k] !== undefined) {
                            var rx = new RegExp('__' + k + '__', 'g');
                            template = template.replace(rx, params[k]);
                        }
                    }
                    return template;
                },
                viewResumenCarrito: function (resultado) {
                    console.log(resultado);
                    const $resumenSalida = $("#resumen_salida");
                    $resumenSalida.empty();

                    $.each(resultado.productos, function (index, producto) {
                        if (producto.cantidad_comprar > 0 && producto.carrito_productos === true) {
                            const template = $("#template_carrito").html();
                            const itemHTML = template
                                .replace("__CANTIDAD_COMPRAR__", producto.cantidad_comprar)
                                .replace("__NOMBRE_PRODUCTO__", producto.nombre_producto)
                                .replace("__PRECIO_PRODUCTO__", producto.precio_bruto);
                            $resumenSalida.append(itemHTML);
                        }
                    });

                    $('#total_salida').text(resultado.total_venta);
                },
                cargarCarrito: ()=>{
                    _self.helper.viewResumenCarrito(_self.vars.resultados);
                },

                llenarTabla: function () { 
                    _self.tabla_carrito = $('#tabla_carrito'); 
                    _self.tabla_carrito.find('tbody:last').empty(); 

                    _self.vars.resultados.productos.forEach((producto) => {
                        if(producto.cantidad_comprar > 0 && producto.carrito_productos === true ){
                            const template = $("#template_table_carrito").html();
                            const row = _self.helper.replaceTemplate(template, {
                                CODIGO_BARRA: producto.codigo_barra,
                                PRODUCTO: producto.nombre_producto,
                                ID_PRODUCTO: producto.id,
                                PRECIO_PRODUCTO: producto.precio_bruto,
                                CANTIDAD_COMPRAR: producto.cantidad_comprar,
                                SUB_TOTAL: producto.cantidad_comprar * producto.precio_bruto
                            });
                            _self.tabla_carrito.find('tbody:last').append(row);
                        }
                        
                    });  
                }, 
                mensaje: (mensaje = '', bg_color = "alert-danger")=>{
                    if(mensaje.length > 0){
                        $('#mensaje_pantalla').text(mensaje);
                        $('#mensaje_pantalla').show();
                        $('#mensaje_pantalla').addClass(bg_color)
                        console.log(bg_color)
                    }else{
                        $('#mensaje_pantalla').hide()
                    }
                }, 
                calcularTotalVenta: () => {
                    let total_venta = _self.vars.resultados.productos
                        .filter(producto => producto.carrito_productos === true && producto.cantidad_comprar > 0) 
                        .reduce((total, producto) => {
                            return total + (producto.cantidad_comprar * producto.precio_bruto);
                        }, 0);

                    _self.vars.resultados.total_venta = total_venta;
                    $('#total_venta').text(total_venta);   
                }, 
                hydrate_datalist: () => {
                    _self.vars.resultados.productos.forEach(function(producto){
                        let text = producto.codigo_barra + ' | ' + producto.nombre_producto + ' | Stock: ' + producto.stock_actual;
                        $('#productos_stock').append('<option value="'+ producto.codigo_barra + '" > ' + text + '</option>');
                    });
                }, 
                busquedaAutomatica: () => {
                    // SE DEBE CAMBIAR EL 8 YA QUE EL CHILE ES EAN-13 CORRESPIENDIENTE A 13 DIGITOS POR CODIGO DE BARRA
                    // ESTA EN 8 PARA TEST YA QUE NO HAY PRODUCTOS REALES 
                    let busqueda = _self.buscar_producto.val();
                     
                    // is EAM-13 y numerico ? 
                    if(busqueda.length === 13 && /^\d+$/.test(busqueda)){
                        _self.cargar_productos.click();
                        _self.buscar_producto.val('');
                    }
 
                } 
            }
        };
        window.carrito = carrito;
    })(window);

    $(window).ready(function () {
        carrito.init();
    });
    document.addEventListener('DOMContentLoaded', function() {
        const inputBuscarProducto = document.getElementById('buscar_producto');
        inputBuscarProducto.focus();
        const valor = inputBuscarProducto.value;
        inputBuscarProducto.value = '';
        inputBuscarProducto.value = valor;
    });
</script>

{% endblock javascripts %}