<div class="left_col scroll-view">

    <div
        class="navbar nav_title"
        style="border:0;"
    >

        <a
            href="{% url 'dashboard' %}"
            class="site_title"
        >

            <i class="fa fa-graduation-cap"></i>

            <span>
                Administración
            </span>

        </a>

    </div>


    <div class="clearfix"></div>

    <br>


    <div
        id="sidebar-menu"
        class="main_menu_side hidden-print main_menu"
    >

        <div class="menu_section">

            <h3>
                General
            </h3>

            <ul class="nav side-menu">


                <!-- DASHBOARD -->

                <li>

                    <a href="{% url 'dashboard' %}">

                        <i class="fa fa-dashboard"></i>

                        Dashboard

                    </a>

                </li>


                <!-- ASPIRANTES -->

                <li>

                    <a href="{% url 'alumnos' %}">

                        <i class="fa fa-users"></i>

                        Aspirantes

                    </a>

                </li>


                <!-- CURSOS -->

                <li>

                    <a href="{% url 'cursos' %}">

                        <i class="fa fa-graduation-cap"></i>

                        Cursos

                    </a>

                </li>


                <!-- BUSQUEDAS -->

                <li>

                    <a href="{% url 'busqueda' %}">

                        <i class="fa fa-search"></i>

                        Búsqueda

                    </a>

                </li>

            </ul>

        </div>

    </div>

</div>